@import './_variables.scss';

.addTag {
  position: $add-tag-position;
  border: $add-tag-border;
  width: $add-tag-width;
  height: $add-tag-height;
  text-align: $add-tag-text-align;
  font-size: $add-tag-font-size;
  font-style: $add-tag-font-style;
  padding: $add-tag-padding;
  font-weight: $add-tag-font-weight;
  background: $add-tag-background;
  color: $add-tag-color;
  text-shadow: $add-tag-text-shadow;
  font-family: $add-tag-font-family;
} 

input.addTag::placeholder {
  color: #fff;
}

input.addTag::-moz-placeholder,
input.addTag::-webkit-input-placeholder {
  color: #fff;
}

.addTag:focus {
  outline: none;
}